body {
	font-family: "Raleway", sans-serif;
	font-size: 1.2em;
  color: #707070;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-decoration: none;
}

h3{
    text-decoration: none;

}


h2{
    text-decoration: none;

}
a {
  transition: all 0.3s ease;
  color: #38B;
  text-decoration: none;

}

a:hover,
a:focus {
  text-decoration: none;
  color: #D40;
}